<div id="bg">
  <img src="http://res.cloudinary.com/dypfv4yqq/image/upload/c_scale,w_2470,h_1260,/v1439859222/cloud_zgrecv.jpg" alt="">
</div>

<div id="login-logo">
  <a href="/#"><img src="https://41.media.tumblr.com/66297b5fc55ec90e792f5b7c10befcce/tumblr_nt02r5v5Ga1uyxd7po1_400.png" class="login-logo-image"></a>
</div>

<div class="container login-form">
  <% if flash[:errors] %>
    <div class="error text-center"><label id="error"><%= flash[:errors].join("<br>").html_safe %></label></div>
  <% end %>
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="<%= session_url %>" method="post" role="form" style="display: block;">
									<input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">
                  <div class="form-group">
										<input type="text" name="user[email_or_username]" id="username" tabindex="1" class="form-control" placeholder="Email Or Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="user[password]" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<!-- <div class="form-group text-left" style="margin-left:20px">
                    <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div> -->
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn-login" value="Log In">
											</div>
                      <div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="guest-submit" id="guest-submit" tabindex="4" class="form-control btn-register" value="Guest Login">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<!-- <div class="text-center">
													<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div> -->
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="<%= users_url %>" method="post" role="form" style="display: none;">
									<input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">
                  <div class="form-group">
										<input type="email" name="user[email]" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="<%=@user.email%>">
									</div>
									<div class="form-group">
										<input type="text" name="user[username]" id="username" tabindex="1" class="form-control" placeholder="Username" value="<%=@user.username%>">
									</div>
									<div class="form-group">
										<input type="password" name="user[password]" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="user[confirm_password]" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <script>
    $(function() {
      $('#login-form-link').click(function(e) {
  		$("#login-form").delay(100).fadeIn(100);
   		$("#register-form").fadeOut(100);
  		$('#register-form-link').removeClass('active');
  		$(this).addClass('active');
  		e.preventDefault();
  	});
  	$('#register-form-link').click(function(e) {
  		$("#register-form").delay(100).fadeIn(100);
   		$("#login-form").fadeOut(100);
  		$('#login-form-link').removeClass('active');
  		$(this).addClass('active');
  		e.preventDefault();
  	});
    $('#guest-submit').click(function(e) {
      $('#username').val("guest");
      $('#password').val("123456");
    });

  });

</script>
